<ul class="float-layer">
  <li data-type="top" style="display: none;">
    <svg viewBox="0 0 44 44" style="transform: rotate(-90deg)">
      <circle cx="22" cy="22" r="22"></circle>
      <polyline stroke="#000000" fill="none" stroke-width="1.4" points="19 17 25 22.5171881 19 27.6573706"></polyline>
    </svg>
  </li>
  <li data-type="back">
    <svg viewBox="0 0 44 44" style="transform: rotate(180deg)">
      <circle cx="22" cy="22" r="22"></circle>
      <polyline stroke="#000000" fill="none" stroke-width="1.4" points="19 17 25 22.5171881 19 27.6573706"></polyline>
    </svg>
  </li>
  {% unless template contains 'index' %}
  <li data-type="home">
    <svg viewBox="0 0 44 44">
      <circle cx="22" cy="22" r="22"></circle>
      <path fill="none" d="M27.1952884,29.6936076 C27.1491417,29.6936076 26.4199526,29.3694062 26.4127702,29.3662226 C26.3249659,29.3262501 26.224772,29.3041415 26.1148819,29.3000735 C23.8781153,29.3014884 21.1220642,29.3014884 18.881527,29.3000735 C18.775228,29.3041415 18.6748546,29.3262501 18.5872298,29.3660457 C18.5800474,29.3694062 17.8522948,29.693077 17.8045321,29.6936076 C17.4935359,29.694031 17.1827192,29.694031 16.8715435,29.6937845 L16.4052288,29.6936076 C16.0356963,29.6936076 15.3700711,29.2176524 15.1639374,28.9696816 C15.1134813,28.9060087 15.076133,28.8418051 15.0508152,28.7765404 C15.0237018,28.7059695 15.0104144,28.6339837 15.0113122,28.5621748 L15.0113122,28.2089668 C15.0068232,27.5373942 15.0064641,26.0138651 15.0062846,24.6029788 C15.006105,23.5320353 15.0017956,19.5938638 15,18.6675994 L22.5843927,13 L30,18.6630008 C29.9996409,19.5802449 29.9940746,23.5304435 29.993895,24.590598 C29.9935359,26.0064366 29.9933563,27.5354486 29.9886878,28.2094975 L29.9886878,28.563236 C29.9892265,28.6343375 29.9761187,28.7059695 29.9493644,28.7758329 C29.9240465,28.8416283 29.8865187,28.9058318 29.8374991,28.9673823 C29.6299289,29.2176524 28.9643037,29.6936076 28.5947712,29.6936076 L28.1286361,29.6937845 C27.9729584,29.694031 27.8174603,29.694031 27.6619622,29.694031 C27.5064641,29.694031 27.350966,29.694031 27.1952884,29.6936076 Z" stroke="#000000" stroke-width="1.512"></path>
      <line x1="22.4991381" y1="22.5574037" x2="22.4991381" y2="26.9959227" stroke="#000000" stroke-width="1.512"></line>
    </svg>
  </li>
  {% endunless %}
  <li data-type="support">
    <svg viewBox="0 0 44 44">
      <circle cx="22" cy="22" r="22"></circle>
      <path d="M26.773159,15.8745166 C27.9489539,17.0747494 28.6095086,18.7026145 28.6095086,20.4 L27.0420862,20.4 C27.0420862,17.7490332 24.9368095,15.6 22.339819,15.6 C19.7428285,15.6 17.6375517,17.7490332 17.6375517,20.4 L16.0701293,20.4 C16.0701293,18.7026145 16.730684,17.0747494 17.9064789,15.8745166 C19.0822738,14.6742838 20.6769939,14 22.339819,14 C24.0026441,14 25.5973642,14.6742838 26.773159,15.8745166 Z" fill="#000000"></path>
      <path d="M19.9886854,27.6 L23.1235302,27.6 L23.1235302,28.4 L27.0420862,28.4 L27.0420862,26.8 L27.0420862,22 L27.0420862,20.4 L28.6095086,20.4 L28.6095086,22 L30,22 L30,26.8 L28.6095086,26.8 L28.6095086,29.6 C28.6095086,29.7060866 28.568224,29.8078282 28.4947368,29.8828427 C28.4212496,29.9578573 28.3215796,30 28.217653,30 L19.9886854,30 L19.9886854,27.6 Z M17.6375517,20.4 L17.6375517,22 L17.6375517,26.8 L15,26.8 L15,22 L16.0701293,22 L16.0701293,20.4 L17.6375517,20.4 Z" fill="#000000" ></path>
    </svg>
  </li>
</ul>