<div class="thumbsSlider-slideshow swiper-container">
    <div class="swiper-container collection-slideshow slideshow22222">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide">
                <div class="slide-image pc-block"
                    style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/pc_7b81a0fd-b42b-49a8-bae9-63404a53eb1f.jpg?v=1669606118)">
                </div>
                <div class="slide-image mobile-block"
                    style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/mb_fc3b1a84-4806-4423-b754-b583472e4407.jpg?v=1669606698)">
                </div>
                <div class="brand-radius">
                    <div class="brand-radius-top"></div>
                    <div class="brand-radius-bottom"></div>
                </div>
                <div class="slide-content slide-content-img">
                    <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/Solar-Generator.png?v=1669613869"
                        alt="" srcset="">
                    <a class="a-button-fill" href="#">View more</a>
                </div>
                <div class="slide-info">
                    <div class="slid-collection-title h1">Solar Generator</div>
                    <div class="slid-collection-link h4">Help you choose</div>
                </div>
            </div>
            <div class="swiper-slide slide">
                <div class="slide-image pc-block"
                    style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/pc_63155f50-5e6f-498b-9eee-a676f2adad42.jpg?v=1669606117)">
                </div>
                <div class="slide-image mobile-block"
                    style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/mb.jpg?v=1669606698)">
                </div>
                <div class="slide-content slide-content-img">
                    <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/Portable-Power-Station.png?v=1669613869"
                        alt="" srcset="">
                    <a class="a-button-fill" href="#">View more</a>
                </div>
                <div class="slide-info">
                    <div class="slid-collection-title h1">Portable Power Station </div>
                    <div class="slid-collection-link h4">Help you choose</div>
                </div>
            </div>
            <div class="swiper-slide slide">
                <div class="slide-image pc-block"
                    style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/pc_3dfc0afe-db0e-4183-abca-2fdb039e96e9.jpg?v=1669606117)">
                </div>
                <div class="slide-image mobile-block"
                    style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/mb_213ce581-bf77-4693-8055-4c1646816ffc.jpg?v=1669606698)">
                </div>
                <div class="slide-content slide-content-img">
                    <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/Solar-Panel.png?v=1669613869"
                        alt="" srcset="">
                    <a class="a-button-fill" href="#">View more</a>
                </div>
                <div class="slide-info">
                    <div class="slid-collection-title h1">Solar Panel</div>
                    <div class="slid-collection-link h4">Help you choose</div>
                </div>
            </div>
        </div>
        <div class="slideshow-pagination slideshow-thumbnail-container">
            <div class="swiper-wrapper">
                <div class="slideshow-thumbnail swiper-slide">
                    <div class="slideshow-thumbnail-img"
                        style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/Solar-Generator.png?v=1669613869);">
                    </div>
                    <div class="slideshow-thumbnail-name">Solar Generator</div>
                </div>
                <div class="slideshow-thumbnail swiper-slide">
                    <div class="slideshow-thumbnail-img"
                        style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/Portable-Power-Station.png?v=1669613869);">
                    </div>
                    <div class="slideshow-thumbnail-name">Portable Power Station </div>
                </div>
                <div class="slideshow-thumbnail swiper-slide">
                    <div class="slideshow-thumbnail-img"
                        style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/Solar-Panel.png?v=1669613869);">
                    </div>
                    <div class="slideshow-thumbnail-name">Solar Panel</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ 'collection-swiper.bundle.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Collection swiper",
  "tag": "section",
  "class": "section collection-swiper",
  "settings": [],
  "blocks": []
}
{% endschema %}