

<div class="support-section-title">Support</div>
        <div class="support-more underlines-btn">View more</div>
        <div class="support-accordion">
            <div class="col-container">
                <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/icon_4.png?v=1670394111" alt="">
                <p>30-Day Money -back Guarantee</p>
                <div class="support-content">
                    Free shipping costs on every Jackery order. Fast Shipping: 3 - 4 business days FedEx shipping service
                    for: CA/AL/GA/LA/MA/MO/NC/SC/NC/VA/AR/IL/KS/OK/TX. Warm Reminder: please note if the Solar Generator
                    bundle is purchased, all items included will be shipped in separate packages.
                </div>
            </div>
            <div class="col-container">
                <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/icon_3.png?v=1670394111" alt="">
                <p>Free & Fast Delivery</p>
                <div class="support-content">
                    Free shipping costs on every Jackery order. Fast Shipping: 3 - 4 business days FedEx shipping service
                    for: CA/AL/GA/LA/MA/MO/NC/SC/NC/VA/AR/IL/KS/OK/TX. Warm Reminder: please note if the Solar Generator
                    bundle is purchased, all items included will be shipped in separate packages.
                </div>
            </div>
            <div class="col-container">
                <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/icon_2.png?v=1670394111" alt="">
                <p>Free RMA Return</p>
                <div class="support-content">
                    Free shipping costs on every Jackery order. Fast Shipping: 3 - 4 business days FedEx shipping service
                    for: CA/AL/GA/LA/MA/MO/NC/SC/NC/VA/AR/IL/KS/OK/TX. Warm Reminder: please note if the Solar Generator
                    bundle is purchased, all items included will be shipped in separate packages.
                </div>
            </div>
            <div class="col-container">
                <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/icon_4.png?v=1670394111" alt="">
                <p>30-Day Money -back Guarantee</p>
                <div class="support-content">
                    Free shipping costs on every Jackery order. Fast Shipping: 3 - 4 business days FedEx shipping service
                    for: CA/AL/GA/LA/MA/MO/NC/SC/NC/VA/AR/IL/KS/OK/TX. Warm Reminder: please note if the Solar Generator
                    bundle is purchased, all items included will be shipped in separate packages.
                </div>
            </div>
        </div>

<script src="{{ 'index-support.bundle.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Index support",
  "tag": "section",
  "class": "section index-section-support",
  "settings": [],
  "blocks": []
}
{% endschema %}
