{% comment %} {{ 'slide-swiper.bundle.css' | asset_url | stylesheet_tag }} {% endcomment %}

<div class="product-swiper-title">Featured Products</div>
<div class="swiper-container slideshow product-slideshow">
    <div class="swiper-wrapper">
        <div class="swiper-slide slide">
            <div class="slide-content">
                <div class="slide-product-name">Jackery Solar Generator2000 Pro</div>
                <div class="slide-product-button a-button-fill">Shop now</div>
                <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/2000pro.png?v=1670210323" alt="" class="slide-product-img">
                <div class="slide-product-price">
                    <div class="slide-product-price-name">Sale price</div>
                    <div class="slide-product-prices">
                        <div class="slide-product-price-sale">$ 2,499.00</div>
                        <div class="slide-product-price-origin">$ 2,798.00</div>
                    </div>
                </div>
                <div class="slide-product-compare">Product Compare</div>
            </div>
        </div>

        <div class="swiper-slide slide">
            <div class="slide-content">
                <div class="slide-product-name">Jackery Solar Generator2000 Pro</div>
                <div class="slide-product-button a-button-fill">Shop now</div>
                <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/1500.png?v=1670210217" alt="" class="slide-product-img">
                <div class="slide-product-price">
                    <div class="slide-product-price-name">Sale price</div>
                    <div class="slide-product-prices">
                        <div class="slide-product-price-sale">$ 2,499.00</div>
                        <div class="slide-product-price-origin">$ 2,798.00</div>
                    </div>
                </div>
                <div class="slide-product-compare">Product Compare</div>
            </div>
        </div>

        <div class="swiper-slide slide">
            <div class="slide-content">
                <div class="slide-product-name">Jackery Solar Generator2000 Pro</div>
                <div class="slide-product-button a-button-fill">Shop now</div>
                <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/1000pro.png?v=1670210218" alt="" class="slide-product-img">
                <div class="slide-product-price">
                    <div class="slide-product-price-name">Sale price</div>
                    <div class="slide-product-prices">
                        <div class="slide-product-price-sale">$ 2,499.00</div>
                        <div class="slide-product-price-origin">$ 2,798.00</div>
                    </div>
                </div>
                <div class="slide-product-compare">Product Compare</div>
            </div>
        </div>
    </div>
    <div class="slideshow-pagination"></div>
    <div class="slideshow-navigation">
        <div class="slideshow-navigation-button prev"><span class="iconfont jackery-icon-left"></span></div>
        <div class="slideshow-navigation-button next"><span class="iconfont jackery-icon-right"></span></div>
    </div>
</div>
<div class="product-swiper-bg"></div>

<script src="{{ 'product-swiper.bundle.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "Product swiper",
  "tag": "section",
  "class": "section product-swiper",
  "settings": [],
  "blocks": []
}
{% endschema %}