<div class="slider-title">Application Scenarios of Jackery Solar</div>
<div class="scene-container">
        <div class="thumb-container">
            <div class="slideshow-pagination slideshow-thumbnail-container slideshow-thumbnail-container-scene">
                <div class="swiper-wrapper">
                    <div class="slideshow-thumbnail swiper-slide">
                        <div class="slideshow-thumbnail-img"
                            style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/RV-Life-pc.jpg?v=1669951834);">
                        </div>
                        <div class="slideshow-thumbnail-name">RV Life</div>
                    </div>

                    <div class="slideshow-thumbnail swiper-slide">
                        <div class="slideshow-thumbnail-img"
                            style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/Camping-pc.jpg?v=1669951834);">
                        </div>
                        <div class="slideshow-thumbnail-name">Camping</div>
                    </div>

                    <div class="slideshow-thumbnail swiper-slide">
                        <div class="slideshow-thumbnail-img"
                            style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/Off-grid-living-pc.jpg?v=1669951834);">
                        </div>
                        <div class="slideshow-thumbnail-name">Off-grid living</div>
                    </div>
                    
                    <div class="slideshow-thumbnail swiper-slide">
                        <div class="slideshow-thumbnail-img"
                            style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/Home-Backup-pc.jpg?v=1669951834);">
                        </div>
                        <div class="slideshow-thumbnail-name">Home Backup</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="thumbsSlider-slideshow swiper-container">
            <div class="swiper-container slideshow slideshowscene">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slide">
                        <div class="slide-image pc-block"
                            style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/RV-Life-pc.jpg?v=1669951834)">
                        </div>

                        <div class="slide-image mobile-block"
                            style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/RV-Life-mb.jpg?v=1669953091)">
                        </div>

                        <div class="slide-content slide-content-img">
                        </div>

                        <div class="slide-info">
                            <div class="slid-collection-title h1">RV Life</div>
                        </div>
                    </div>

                    <div class="swiper-slide slide">
                        <div class="slide-image pc-block"
                            style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/Camping-pc.jpg?v=1669951834)">
                        </div>

                        <div class="slide-image mobile-block"
                            style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/Camping--mb.jpg?v=1669953091)">
                        </div>

                        <div class="slide-content slide-content-img">
                        </div>

                        <div class="slide-info">
                            <div class="slid-collection-title h1">Camping</div>
                        </div>
                    </div>

                    <div class="swiper-slide slide">
                        <div class="slide-image pc-block"
                            style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/Off-grid-living-pc.jpg?v=1669951834)">
                        </div>

                        <div class="slide-image mobile-block"
                            style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/Off-grid-living-mb.jpg?v=1669953091)">
                        </div>

                        <div class="slide-content slide-content-img">
                        </div>

                        <div class="slide-info">
                            <div class="slid-collection-title h1">Off-grid living</div>
                        </div>
                    </div>

                    <div class="swiper-slide slide">
                        <div class="slide-image pc-block"
                            style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/Home-Backup-pc.jpg?v=1669951834)">
                        </div>

                        <div class="slide-image mobile-block"
                            style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/Home-Backup-mb.jpg?v=1669953091)">
                        </div>

                        <div class="slide-content slide-content-img">
                        </div>

                        <div class="slide-info">
                            <div class="slid-collection-title h1">Home Backup</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="{{ 'scene-swiper.bundle.js' | asset_url }}" defer="defer"></script>


{% schema %}
{
  "name": "Scene swiper",
  "tag": "section",
  "class": "section scene-swiper",
  "settings": [],
  "blocks": []
}
{% endschema %}