<div class="swiper-container slideshow slide-swiper-container">
    <div class="swiper-wrapper">
                <div class="swiper-slide slide">
                    <div class="slide-image pc-block"
                        style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/9926e72a649011b9071762d7a2ab80de.png?v=1670379615">
                    </div>

                    <div class="slide-image mobile-block"
                        style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/1_e1eeeef0-9781-4e34-b84d-726c1b70cc3b.png?v=1670379614)">
                    </div>

                    <div class="brand-radius">
                        <div class="brand-radius-top"></div>
                        <div class="brand-radius-bottom"></div>
                    </div>

                    <div class="slide-content">
                        <span class="slide-title">Explore Further with Jackery Solar</span>
                        <a class="slide-link h4 underlines-btn" href="#">View more ></a>
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <div 
                        class="slide-image pc-block"
                        style="background-image: url(https://dji-official-fe.djicdn.com/cms/uploads/943efdcdbb68ccad90c65d7a8b9f38ed@origin.jpg)">
                    </div>

                    <div 
                        class="slide-image mobile-block"
                        style="background-image: url(https://dji-official-fe.djicdn.com/cms/uploads/3116a948f1eed689712f44ce407758b2.jpg)">
                    </div>

                    <div class="slide-content">
                        <span class="slide-title">Meet ocean</span>
                        <a class="slide-link h4 underlines-btn" href="#">View more ></a>
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <div class="slide-image pc-block"
                        style="background-image: url(https://dji-official-fe.djicdn.com/cms/uploads/dfd47d55c0589ffd5a9d7ec1432cbc64@1x.jpg)">
                    </div>

                    <div class="slide-image mobile-block"
                        style="background-image: url(https://dji-official-fe.djicdn.com/cms/uploads/dc0de74de646d506aaff239d45708df9.jpg)">
                    </div>
                    
                    <div class="slide-content">
                        <span class="slide-title">Around the world</span>
                        <a class="slide-link h4 underlines-btn" href="#">View more ></a>
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <div class="slide-image pc-block"
                        style="background-image: url(https://dji-official-fe.djicdn.com/cms/uploads/3e6e37ab06f20116bcad351c0c622bc8.jpg)">
                    </div>

                    <div class="slide-image mobile-block"
                        style="background-image: url(https://dji-official-fe.djicdn.com/cms/uploads/83c436e83b0cf07e2ea5f871783cd60e@origin.jpg)">
                    </div>
                    
                    <div class="slide-content">
                        <span class="slide-title">MINI 3 PRO</span>
                        <a class="slide-link h4 underlines-btn" href="#">View more ></a>
                    </div>
                </div>
            </div>

    <div class="slideshow-pagination"></div>

    <div class="slideshow-navigation">
        <div class="slideshow-navigation-button prev"><span class="iconfont jackery-icon-left"></span></div>
        <div class="slideshow-navigation-button next"><span class="iconfont jackery-icon-right"></span></div>
    </div>
</div>

<script src="{{ 'slide-swiper.bundle.js' | asset_url }}" defer="defer"></script>
<script>
    console.log(window.Slideshow)

    function loadx() {
        if(window.Slideshow) {
            console.log(window.Slideshow)
            return
        }
        setTimeout(() => {
            loadx()
        }, 100);
    }
    loadx()
</script>
{% schema %}
{
  "name": "Slide swiper",
  "tag": "section",
  "class": "section slide-swiper",
  "settings": [],
  "blocks": []
}
{% endschema %}