
<div class="swiper-container slideshow video-slideshow">
    <div class="swiper-wrapper">
        <div class="swiper-slide slide">
            <video data-dps-name="default_" name="media" muted="" loop="" class="slide-video pc-block">
                <source
                    data-layzr-src="https://terra-1-g.djicdn.com/851d20f7b9f64838a34cd02351370894/F31_HG306_shot-on_CLEAN__10s_V1_2400x1440.mp4"
                    type="video/mp4; codecs=&quot;avc1.4D401E, mp4a.40.2&quot;"
                    src="https://terra-1-g.djicdn.com/851d20f7b9f64838a34cd02351370894/F31_HG306_shot-on_CLEAN__10s_V1_2400x1440.mp4">
            </video>
            <div class="slide-image mobile-block"
                style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/1_2x_394baef5-83d0-4381-8c86-0cc49bd1eb26.png?v=1669883323)">
            </div>
            <div class="brand-radius">
                <div class="brand-radius-top"></div>
                <div class="brand-radius-bottom"></div>
            </div>
            <div class="slide-content">
                <span class="slide-title">Explore Further with Jackery Solar</span>
                <a class="slide-link h4 underlines-btn" href="#">View more ></a>
            </div>
        </div>

        <div class="swiper-slide slide">
            <video data-dps-name="default_" preload="auto" name="media" muted="" loop="" class="slide-video pc-block"><source data-layzr-src="https://terra-1-g.djicdn.com/851d20f7b9f64838a34cd02351370894/HG711-shot%20on/F114_HG711_%E5%AE%98%E7%BD%91%E9%A6%96%E9%A1%B5_10s_V4_2400x1440.mp4" type="video/mp4; codecs=&quot;avc1.4D401E, mp4a.40.2&quot;" src="https://terra-1-g.djicdn.com/851d20f7b9f64838a34cd02351370894/HG711-shot%20on/F114_HG711_%E5%AE%98%E7%BD%91%E9%A6%96%E9%A1%B5_10s_V4_2400x1440.mp4"></video>
            <div class="slide-image mobile-block"
                style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/1_2x_394baef5-83d0-4381-8c86-0cc49bd1eb26.png?v=1669883323)">
            </div>
            <div class="slide-content">
                <span class="slide-title">Meet ocean</span>
                <a class="slide-link h4 underlines-btn" href="#">View more ></a>
            </div>
        </div>
        <div class="swiper-slide slide">
            <video data-dps-name="default_" preload="auto" name="media" muted="" loop="" class="slide-video pc-block"><source data-layzr-src="https://terra-1-g.djicdn.com/851d20f7b9f64838a34cd02351370894/HG711-shot%20on/F114_HG711_%E5%AE%98%E7%BD%91%E9%A6%96%E9%A1%B5_10s_V4_2400x1440.mp4" type="video/mp4; codecs=&quot;avc1.4D401E, mp4a.40.2&quot;" src="https://terra-1-g.djicdn.com/851d20f7b9f64838a34cd02351370894/HG711-shot%20on/F114_HG711_%E5%AE%98%E7%BD%91%E9%A6%96%E9%A1%B5_10s_V4_2400x1440.mp4"></video>
            <div class="slide-image mobile-block"
                style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/1_2x_394baef5-83d0-4381-8c86-0cc49bd1eb26.png?v=1669883323)">
            </div>
            <div class="slide-content">
                <span class="slide-title">Around the world</span>
                <a class="slide-link h4 underlines-btn" href="#">View more ></a>
            </div>
        </div>
        <div class="swiper-slide slide">
            <video data-dps-name="default_" preload="auto" name="media" muted="" loop="" class="slide-video pc-block"><source data-layzr-src="https://terra-1-g.djicdn.com/851d20f7b9f64838a34cd02351370894/HG711-shot%20on/F114_HG711_%E5%AE%98%E7%BD%91%E9%A6%96%E9%A1%B5_10s_V4_2400x1440.mp4" type="video/mp4; codecs=&quot;avc1.4D401E, mp4a.40.2&quot;" src="https://terra-1-g.djicdn.com/851d20f7b9f64838a34cd02351370894/HG711-shot%20on/F114_HG711_%E5%AE%98%E7%BD%91%E9%A6%96%E9%A1%B5_10s_V4_2400x1440.mp4"></video>
            <div class="slide-image mobile-block"
                style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/1_2x_394baef5-83d0-4381-8c86-0cc49bd1eb26.png?v=1669883323)">
            </div>
            <div class="slide-content">
                <span class="slide-title">MINI 3 PRO</span>
                <a class="slide-link h4 underlines-btn" href="#">View more ></a>
            </div>
        </div>
    </div>

    <div class="slideshow-pagination"></div>
    <div class="slideshow-navigation">
        <div class="slideshow-navigation-button prev"><span class="iconfont jackery-icon-left"></span></div>
        <div class="slideshow-navigation-button next"><span class="iconfont jackery-icon-right"></span></div>
    </div>
</div>
<script src="{{ 'video-swiper.bundle.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "Video swiper",
  "tag": "section",
  "class": "section video-swiper",
  "settings": [],
  "blocks": []
}
{% endschema %}