<section class="user-voice">
        <div class="voice-banner">
            <div class="thumbsSlider-slideshow swiper-container">
                <div class="swiper-container slideshow slideshow3333">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide slide">
                            <div class="slide-image pc-block"
                                style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/pc-1.png?v=1670308711)">
                            </div>

                            <div class="slide-image mobile-block"
                                style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/mb-1.jpg?v=1670308761)">
                            </div>
                            <div class="slide-content slide-content-img"></div>

                            <div class="slide-info">
                                <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/icon-_2x_0cdd2b58-1c28-427e-af1b-b68c5f8df76d.png?v=1670312292" alt="">
                                <div class="voice-user-productname">Portable Power Stati</div>
                            </div>
                        </div>

                        <div class="swiper-slide slide">
                            <div class="slide-image pc-block"
                                style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/pc-2.png?v=1670308712)">
                            </div>

                            <div class="slide-image mobile-block"
                                style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/mb-2.jpg?v=1670308761)">
                            </div>

                            <div class="slide-content slide-content-img"></div>

                            <div class="slide-info">
                                <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/icon-_2x_0cdd2b58-1c28-427e-af1b-b68c5f8df76d.png?v=1670312292" alt="">
                                <div class="voice-user-productname">Portable Power Stati</div>
                            </div>
                        </div>

                        <div class="swiper-slide slide">
                            <div class="slide-image pc-block"
                                style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/pc-3.png?v=1670308712)">
                            </div>

                            <div class="slide-image mobile-block"
                                style="background-image: url(https://cdn.shopify.com/s/files/1/0550/0524/9633/files/mb-3.jpg?v=1670308761)">
                            </div>

                            <div class="slide-content slide-content-img"></div>

                            <div class="slide-info">
                                <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/icon-_2x_0cdd2b58-1c28-427e-af1b-b68c5f8df76d.png?v=1670312292" alt="">
                                <div class="voice-user-productname">Portable Power Stati</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="voice-text">
            <h1 class="user-voice-section-title">Voice from Our Customers</h1>
            <div class="vocie-thumbnail-container">
                <div class="slideshow-pagination slideshow-thumbnail-container">
                    <div class="swiper-wrapper">
                        <!-- swiper-no-swiping -->
                        <div class="slideshow-thumbnail swiper-slide">
                            <div class="voice-content">
                                <div>
                                    <div class="voice-user-rate">
                                        <div class="rate">
                                            <label title="1.0" rate="5"></label>
                                            <label title="1.0" rate="4"></label>
                                            <label title="1.0" rate="3"></label>
                                            <label title="1.0" rate="2"></label>
                                            <label title="1.0" rate="1" class="checked"></label>
                                        </div>
                                    </div>
                                    <div class="voice-user-title">The best robovac!</div>
                                    <div class="voice-user-comment">
                                        I've been a huge fan of Jackery for many years now, I've owned the original 1000 and still own a 300 that we use regularlyThese units have performed still own a 300 that we use regularlyThese units have performed
                                    </div>
                                    <div class="voice-user-comment-all">></div>
                                </div>
                                <div class="voice-user-container">
                                    <div class="voice-user-avator">
                                        <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/1_2x_147924d7-f3ad-459e-9390-b3718a166720.png?v=1670307216" alt="">

                                        <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/icon-_1_2x_f1b3030c-8c66-4b42-bb45-620ff89a90a2.png?v=1670307826" alt="" class="voice-user-approve">

                                        <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/icon-_2_2x_18fdd37e-93ee-45e5-8221-361bb6317651.png?v=1670308144" alt="" class="voice-user-approve voice-user-approve-unactive">
                                    </div>

                                    <div class="voice-user-name">Amazon C.</div>
                                </div>
                            </div>
                        </div>

                        <div class="slideshow-thumbnail swiper-slide">
                            <div class="voice-content">
                                <div>
                                    <div class="voice-user-rate">
                                        <div class="rate">
                                            <label title="5.0" rate="5" class="checked"></label>
                                            <label title="5.0" rate="4"></label>
                                            <label title="5.0" rate="3"></label>
                                            <label title="5.0" rate="2"></label>
                                            <label title="5.0" rate="1"></label>
                                        </div>
                                    </div>
                                    <div class="voice-user-title">Must have!!!</div>
                                    <div class="voice-user-comment">
                                        wow! This camera blows others out of the water. The solar charging is the game changer, especially for The solar charging is the game changer, especially for
                                    </div>
                                    <div class="voice-user-comment-all">></div>
                                </div>
                                <div class="voice-user-container">
                                    <div class="voice-user-avator">
                                        <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/2_2x_9e0d0e02-9040-4ec8-abc2-a8f2371c70cf.png?v=1670307217" alt="">

                                        <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/icon-_1_2x_f1b3030c-8c66-4b42-bb45-620ff89a90a2.png?v=1670307826" alt="" class="voice-user-approve">

                                        <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/icon-_2_2x_18fdd37e-93ee-45e5-8221-361bb6317651.png?v=1670308144" alt="" class="voice-user-approve voice-user-approve-unactive">

                                    </div>

                                    <div class="voice-user-name">Cleome</div>
                                </div>
                            </div>
                        </div>

                        <div class="slideshow-thumbnail swiper-slide">
                            <div class="voice-content">
                                <div>
                                    <div class="voice-user-rate">
                                        <div class="rate">
                                            <label title="2.0" rate="5"></label>
                                            <label title="2.0" rate="4"></label>
                                            <label title="2.0" rate="3"></label>
                                            <label title="2.0" rate="2" class="checked"></label>
                                            <label title="2.0" rate="1"></label>
                                        </div>
                                    </div>
                                    <div class="voice-user-title">Great little vacuum</div>
                                    <div class="voice-user-comment">
                                        Love the power, great ergonomic handle.
                                    </div>
                                    <div class="voice-user-comment-all">></div>
                                </div>
                                <div class="voice-user-container">
                                    <div class="voice-user-avator">
                                        <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/2x.png?v=1670307217" alt="">

                                        <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/icon-_1_2x_f1b3030c-8c66-4b42-bb45-620ff89a90a2.png?v=1670307826" alt="" class="voice-user-approve">

                                        <img src="https://cdn.shopify.com/s/files/1/0550/0524/9633/files/icon-_2_2x_18fdd37e-93ee-45e5-8221-361bb6317651.png?v=1670308144" alt="" class="voice-user-approve voice-user-approve-unactive">
                                    </div>

                                    <div class="voice-user-name">DeLarse M.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="next-voice-btn">
                <div class="ra-btn in">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">
                        <circle class="cbtn-bg" cx="50" cy="50" r="23" fill="none" stroke="#B4B1B5" stroke-width="1" />
                        <circle class="cbtn-fg" cx="50" cy="50" r="23" fill="none" stroke="#FD5000" stroke-width="1.5" />
                        <g class="cbtn-acnt">
                            <path class="cbtn-arrow" fill="none" stroke="#FD5000" stroke-width="2"
                                d="M47.7 39.4L58.2 50 47.7 60.5M11.5 50h46.4" />
                        </g>
                    </svg>
                </div>
            </div>

            <div class="slideshow-pagination-zzz"></div>
        </div>
    </section>
<script src="{{ 'voice-swiper.bundle.js' | asset_url }}" defer="defer">
console.log(123)
</script>

{% schema %}
{
  "name": "Voice swiper",
  "settings": [],
  "blocks": []
}
{% endschema %}