/*日本站要改为140*/
.coupon-style {
  width: 350px; margin-bottom: 20px; cursor: pointer; position: relative;
  background: transparent center center / 100% 100% no-repeat; background-size: 100% auto;
}
.coupon-style svg {width: 100%; height: 100%;}
.coupon-style::before {content: ""; display: block; padding-top: 27.43%;}

.coupon-style.jp svg text, .coupon-style.jp svg tspan {font-family: NotoSansJP-Bold, Noto Sans JP;}
.coupon-style.jp {height: auto;}
.coupon-style.jp::before {content: ""; display: block; padding-top: 29.147%;}

/*倒计时*/
.coupon-timer {margin-top: 10px;}
.coupon-timer .dot {
  width: 1.5rem; height: 1.875rem; color: #fff; background: #555555; border-radius: 0.25rem;
  font-size: 1rem; font-weight: 500; text-align: center; line-height: 1.875rem; margin-right: 0.125rem; display: inline-block;
}
.coupon-timer .dot1 {margin-right: 0.125rem;}

.coupon-timer-desc {font-size: 0.875rem; color: #999999; line-height: 1.5rem; font-weight: 400;}
.coupon-timer-desc .timer-desc-item {width: 3.25rem; text-align: center; float: left; margin-left: 0; margin-right: 0.375rem;}

@media (max-width: 767px) {
  .coupon-style {width: 100%; height: auto;}
}

@media (max-width: 768px) {
  .coupon-style {margin-bottom: 4px;}
  .coupon-timer {margin-top: 0px;}
  .coupon-timer .dot {border-radius: 0.2rem;}
  .coupon-timer-desc {font-size: 1rem;}
  .coupon-timer-desc .timer-desc-item {margin-right: 0.2rem;}
}