:root {
    --primary-color: #FD5000;
    /* 系统主题色 */
    --text-black: #000;
    /* 黑色 */
    --text-main-color: #333;
    /* 标题、主要文本颜色 */
    --text-sub-color: #666;
    /* 常规、次要按钮颜色 */
    --text-info-color: #999;
    /* 副文案、辅助说明信息 */
    --text-disable-color: #ccc;
    /* 弱文案、失效、不可点 */
    --input-border-color: #ddd;
    /* 输入框、选择边框 */
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

div,
a,
p,
span,
i,
h1,
h2,
h3,
h4,
h5,
h6,
table,
button,
ul,
li {
    color: var(--text-main-color);
    -webkit-tap-highlight-color: transparent;
    font-family: Gilroy-Bold, Gilroy;
}

a,
button {
    cursor: pointer;
}

h1,
.h1 {
    font-size: 2.34375vw;
    font-weight: 700;
    line-height: 3.48958vw;
}

h2,
.h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
}

h3,
.h3 {
    font-size: 26px;
    font-weight: 500;
    line-height: 39px;
}

h4,
.h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

h5,
.h5 {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

h6,
.h6 {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}

p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 7px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 5%);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(144, 147, 153, 30%);
    border-radius: 2px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 20%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b6b7b9;
}

/* scrollbar */

.pc-block {
    display: block !important;
}

.mobile-block {
    display: none !important;
}

.underlines-btn {
    position: relative;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.underlines-btn:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    border-bottom: 2px solid var(--primary-color);
    transform: scale(0);
    transform-origin: 0 50%;
    transition: transform 0.5s ease;
}

.underlines-btn:hover:after {
    transform: scale(1);
}

.a-button-solid {
    font-size: 24px;
    font-weight: 300;
    /* color: var(--primary-color); */
    color: #FFFFFF;
    line-height: 24px;
    padding: 12px 32px;
    /* background: #FFFFFF; */
    background: var(--primary-color);
    border-radius: 33px;
    border: solid 2px var(--primary-color);
    transition: all .3s ease;
}

.a-button-solid:hover {
    background: var(--primary-color);
    color: #FFFFFF;
}

.a-button-fill {
    font-size: 1.25vw;
    font-weight: 300;
    color: var(--primary-color);
    line-height: 1.25vw;
    padding: 0.625vw 1.66667vw;
    background: #FFFFFF;
    border-radius: 33px;
    border: solid 2px var(--primary-color);
    transition: all .3s ease;
    cursor: pointer;
    text-decoration: none;
}

.a-button-fill:hover {
    background: var(--primary-color);
    color: #FFFFFF;
}

/* -----rate----- */
.rate {
    height: 33px;
    line-height: 33px;
    float: left;
}

.rate>label {
    float: right;
    width: 33px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 33px;
    color: #ccc;
}

.rate>label:before {
    content: '★';
}

.rate>label.checked~label,.rate>label.checked {
    color: #ffc700;
}
/* -----rate----- */

/* -----按钮箭头----- */
.ra-btn {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.ra-btn svg {
    transform-origin: center center;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.3, 0.3, 0, 1);
}

.ra-btn .cbtn-fg {
    transform-origin: center center;
    transform: rotate(180deg);
    stroke-dasharray: 145 145;
    stroke-dashoffset: -145;
    transition: stroke-dashoffset 0.5s cubic-bezier(0.3, 0.3, 0, 1);
}

.ra-btn .cbtn-arrow {
    transition: transform 0.5s cubic-bezier(0.3, 0.3, 0, 1);
    will-change: transform;
}

.ra-btn .cbtn-acnt {
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.3, 0.3, 0, 1);
    opacity: 0;
}

.ra-btn:hover .cbtn-fg {
    stroke-dashoffset: 0;
}

.ra-btn:hover .cbtn-arrow {
    transform: translate(8px, 0)
}

.ra-btn.in .cbtn-acnt {
    animation-name: cbtn-bounce;
    opacity: 1;
}

.ra-btn.in svg {
    opacity: 1;
}

.ra-btn.down svg {
    transform: rotate(90deg);
}

@keyframes cbtn-bounce {
    38%,
    72%,
    90%,
    100% {
        transform: translateX(0);
        animation-timing-function: ease-out
    }

    0% {
        transform: translateX(-15px);
        animation-timing-function: ease-in;
        opacity: 0
    }

    30% {
        opacity: 1
    }

    55% {
        transform: translateX(-6px);
        animation-timing-function: ease-in
    }

    81% {
        transform: translateX(-2px);
        animation-timing-function: ease-in
    }

    95% {
        transform: translateX(-1px);
        animation-timing-function: ease-in
    }
}
/* -----按钮箭头----- */

@media screen and (max-width: 768px) {
    h1,.h1 {
        font-size: 7.46667vw;
        line-height: 11.2vw;
    }

    h2,.h2 {
        font-size: 5.86667vw;
        line-height: 8.8vw;
    }

    h3,.h3 {
        font-size: 4.8vw;
        line-height: 7.2vw;
    }

    h4,.h4 {
        font-size: 4.26667vw;
        line-height: 6.4vw;
    }

    h5,.h5 {
        font-size: 3.2vw;
        line-height: 4.8vw;
    }

    h6,.h6 {
        font-size: 2.66667vw;
        line-height: 4vw;
    }

    p {
        font-size: 3.46667vw;
        line-height: 5.2vw;
    }

    .pc-block {
        display: none !important;
    }

    .mobile-block {
        display: block !important;
    }

    .a-button-solid,
    .a-button-fill {
        font-size: 3.46667vw;
        line-height: 4.8vw;
        padding: 2.2vw 10vw;
        border-radius: 4.66667vw;
        border-width: 1px;
    }


    
    /* -----rate----- */
    .rate {
        height: 4.4vw;
        line-height: 4.4vw;
    }

    .rate>label {
        width: 4.4vw;
        font-size: 4.4vw;
    }
    /* -----rate----- */
}


















/* reset */
.header-wrapper, #shopify-section-announcement-bar, .skip-to-content-link, .footer, .section-header {
    display: none;
}
#MainContent {
    max-width: 100vw;
    overflow-x: hidden;
}
/* reset */